.blueCircle {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-image: radial-gradient(circle, #2193b0, #6dd5ed);
}

.orangeCircle {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-image: radial-gradient(circle, #de6262, #ffb88c);
}

.center {
    text-align: center;
    line-height: 400px;
}

.relative {
    position: relative;
}

.largeText {
    font-size: 4rem;
}

.plusIcon {
    position: absolute;
    left: 184px;
    bottom: -100px;
    font-size: 2rem;
}

.refreshIcon {
    position: absolute;
    left: 184px;
    top: -100px;
    font-size: 2rem;
}
